.footer {
  background-color: rgba(0, 255, 255, 0.396);
  padding: 20px;

  h1.title {
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .footer-links {
    display: flex;
    align-items: center;
    justify-content: center;

    .link {
      margin-right: 10px;
    }
  }
}
